DB_HOST=bfktjcw6cgbgfhgfeopo-postgresql.services.clever-cloud.com
DB_PORT=bfktjcw6cgbgfhgfeopo
DB_USER=postgres
DB_PASSWORD=simona
DB_NAME=nivo
JWT_SECRET=
JWT_EXPIRES_IN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL_EMPLOYEE=
GOOGLE_CALLBACK_URL_CLIENT=
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
ADMIN_EMAIL=
ADMIN_PASSWORD=